{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <title>EMACS | Environmental Monitoring and Control System</title>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/Chart.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}manager/styles.css">
    <script type="text/javascript" src="{{ STATIC_URL }}manager/functions.js" ></script>
</head>
 
<body>
  <div class="container-fluid page-wrapper">
    <div class="container col-md-2 navigation-wrapper">
    <!-- Static navbar -->
    <div class="navbar" role="navigation">
      <ul class="nav nav-stacked dashboard-nav">
        <li role="presentation">
          <span class="user-avatar"></span><a href="#"><span class="user-name">Ricardo!</span></a>
        </li>
        <li role="presentation" class="active"><a href="#">Dashboard</a></li>
        <li role="presentation"><a href="#">Rooms</a></li>
        <li role="presentation"><a href="#">Archive</a></li>
        <li role="presentation"><a href="#">Settings</a></li>
      </ul>
    </div>
  </div>
      
  <div class="container col-md-10">
    <div id="spinner">
      <h3><span class="spinner-message"></span></h3>
    </div>
      <!-- Main component for a primary marketing message or call to action -->
    <div class="main-content">

	   {% block content %}{% endblock %}
     {% block content-related %}{% endblock %}
    </div>

  </div>
</div>
</body>
</html>
